@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme inline {
  /* Fonts */
  --font-sans: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);

  /* Brand */
  --color-primary: #23663F;
  --color-primary-light: #00AC4F;

  --color-secondary: #021A3E;
  --color-secondary-light: #1d61b5;

  --color-accent: #E88808;

  /* Base */
  --color-background: #ffffff;

  --color-text-primary: #23663F;
  --color-text-secondary: #ffffff;

  --color-border: #00AC4F;

  /* States */
  --color-success: #22c55e;
  --color-disabled: #B6B6B6;
  --color-error: #F13636;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  width: 100%;
  min-height: 100%;
}
