ALLOWED_HOSTS=localhost,127.0.0.1,your-production-domain.com
BACKEND_BASE_URL=https://your-backend-domain.com
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
DATABASE_URL=postgresql://username:password@host:5432/database-name
DEBUG=False
DEFAULT_FROM_EMAIL=noreply@your-domain.com
FRONTEND_BASE_URL=https://your-frontend-domain.com
REDIS_URL=redis://localhost:6379/0
RESEND_API_KEY=your-resend-api-key
SECRET_KEY=your-django-secret-key